# https://t.me/calmmage_bot
TELEGRAM_BOT_TOKEN=

# default
BOTSPOT_PRINT_BOT_URL_ENABLED=True

# default
BOTSPOT_ERROR_HANDLER_ENABLED=True
# default - False
BOTSPOT_ERROR_HANDLER_EASTER_EGGS=True
# setup your chat id to receive error reports
# botspot_settings.error_handling.developer_chat_id
BOTSPOT_ERROR_HANDLER_DEVELOPER_CHAT_ID=291560340

# default
BOTSPOT_BOT_COMMANDS_MENU_ENABLED=True